.App {
 background: black;
 margin: auto;

 
}

#title {
  font-size: 45px;
  color: whitesmoke;
  margin-left: 40px;
  margin-bottom: 45px;

}

.layout{

  margin: auto;
  padding: 30px;
  width: 80%;
  background: gray;
}

.layout #cardItem{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  
  
}
.card{
  border: 2px solid black;  
  border-radius: 5px;
  box-shadow: 5px 5px rgb(77, 76, 76);
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  background: white;
  width: 330px;
  justify-content:center;
  height: 550px;
 }



.cardTitle{
  margin: auto;
  font-size: 25px;
  background: tan;
  border: 2px solid black;
  border-style: groove;
  margin: 10px;
  height: 55px;
}
.picFrame{
  border: 4px solid black;
  border-bottom: 5px;
  width: 300px;
  margin: auto;
  
  height: 200px;
  
 
}

.info{
  overflow: scroll;
  border: 3px solid black;
  background: rgb(244, 236, 225);
 
  padding: 1px;
    width: 300px;
  height: 200px;
  margin: auto;
}

.onSale{
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  padding: 5px;
}
#submit{
  width: 180px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;

  font-weight: bold;
}
.ppicFrame{
  width: 1200px;
  padding: 50px;
  background: black;
  display: flex;
  flex-direction: column;
  margin: auto;
  

}
.portrait{
  border: 5px solid black;
  margin: auto;

}
.article{
  width: 800px;
  font-size: 22px;
  color: white;
  margin: auto;
  overflow:auto;
}
.favoriteBox{
  background: gray;
  display: flex;
  flex-direction: column;
 
  width: 84%;
  margin: auto;
}
.favCard{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: gray;
  
}

